In [1]:
import os
import numpy as np
import pandas as pd

import tempfile

from rdkit import Chem
from rdkit.Chem import AllChem
import deepchem as dc
import tensorflow as tf

from deepchem.utils import download_url, load_from_disk

/home/gabriel/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
2023-12-19 22:56:46.298145: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-19 22:56:46.346902: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-19 22:56:46.347826: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-19 22:56:47.366105: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
Skipped loading modules with pytorch-geometric dependency, missing a dependency. No module named 'torch_geometric'
Skipped loading modules with pytorch-geometric dependency, missing a dependency. cannot import name 'DMPNN' from 'deepchem.models.torch_models' (/home/gabriel/anaconda3/lib/python3.9/site-packages/deepchem/models/torch_models/__init__.py)
Skipped loading modules with pytorch-lightning dependency, missing a dependency. No module named 'pytorch_lightning'
Skipped loading some Jax models, missing a dependency. jax requires jaxlib to be installed. See https://github.com/google/jax#installation for installation instructions.

In [2]:
data = pd.read_csv('/data/database/dataset_semua.csv')

In [3]:
data = pd.DataFrame(data)

In [4]:
data

,nama obat,cid,smiles,pdb_id,score,fungsi_obat
0,Anastrozole,2187,CC(C)(C#N)C1=CC(=CC(=C1)CN2C=NC=N2)C(C)(C)C#N,1s9p,7.856,breast_cancer
1,Letrozole,3902,C1=CC(=CC=C1C#N)C(C2=CC=C(C=C2)C#N)N3C=NC=N3,1s9p,8.685,breast_cancer
2,Exemestane,60198,CC12CCC3C(C1CCC2=O)CC(=C)C4=CC(=O)C=CC34C,1s9p,13.665,breast_cancer
3,Fulvestrant,104741,CC12CCC3C(C1CCC2O)C(CC4=C3C=CC(=C4)O)CCCCCCCCC...,1s9p,9.728,breast_cancer
4,Lapatinib,208908,CS(=O)(=O)CCNCC1=CC=C(O1)C2=CC3=C(C=C2)N=CN=C3...,1s9p,11.310,breast_cancer
...,...,...,...,...,...,...
595,Vicriviroc,3009355,CC1CN(CCN1C(COC)C2=CC=C(C=C2)C(F)(F)F)C3(CCN(C...,7egq,7.641,HIV
596,Vidarabine,21704,C1=NC(=C2C(=N1)N(C=N2)C3C(C(C(O3)CO)O)O)N,7egq,9.908,HIV
597,Zalcitabine,24066,C1CC(OC1CO)N2C=CC(=NC2=O)N,7egq,8.195,HIV
598,Zanamivir,60855,CC(=O)NC1C(C=C(OC1C(C(CO)O)O)C(=O)O)N=C(N)N,7egq,10.022,HIV
599,Zidovudine,35370,CC1=CN(C(=O)NC1=O)C2CC(C(O2)CO)N=[N+]=[N-],7egq,8.459,HIV

In [5]:
protein = data['pdb_id']

In [6]:
ligands = data['smiles']

In [7]:
featurizer_1 = dc.feat.MolGraphConvFeaturizer(use_edges=True)
featurizer_2 = dc.feat.CircularFingerprint(size=2048, radius=8)

In [8]:
out_1 = featurizer_1.featurize(ligands)
out_2 = featurizer_2.featurize(ligands)

In [9]:
final_feature = pd.DataFrame(out_2)

In [10]:
final_feature

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
597,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
598,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
599,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
labels = data['score']

In [12]:
protein_id = pd.DataFrame(protein).rename(columns = {0 : 'pdb_id'})

In [13]:
protein_id = pd.get_dummies(protein_id, columns = ['pdb_id'])

In [14]:
protein_id

,pdb_id_1s9p,pdb_id_5r7y,pdb_id_5rl6,pdb_id_5s6x,pdb_id_6m71,pdb_id_7egq
0,1,0,0,0,0,0
1,1,0,0,0,0,0
2,1,0,0,0,0,0
3,1,0,0,0,0,0
4,1,0,0,0,0,0
...,...,...,...,...,...,...
595,0,0,0,0,0,1
596,0,0,0,0,0,1
597,0,0,0,0,0,1
598,0,0,0,0,0,1
599,0,0,0,0,0,1

In [15]:
all_feature = pd.concat([final_feature, protein_id], axis = 1)

In [16]:
all_feature

,0,1,2,3,4,5,6,7,8,9,...,2044,2045,2046,2047,pdb_id_1s9p,pdb_id_5r7y,pdb_id_5rl6,pdb_id_5s6x,pdb_id_6m71,pdb_id_7egq
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,0,0,0,0,0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,0,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,0,0,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
597,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
598,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0,0,0,0,0,1
599,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1

In [17]:
dataset_model = dc.data.NumpyDataset(X=all_feature, y=labels)
train_dataset, test_dataset = dc.splits.RandomSplitter().train_test_split(dataset_model, seed=42)

In [18]:
from sklearn.ensemble import RandomForestRegressor

from deepchem.utils.evaluate import Evaluator
import pandas as pd

In [19]:
#RANDOM FOREST MODEL

In [20]:
%time
seed = 42 # Set a random seed to get stable results
sklearn_model = RandomForestRegressor(n_estimators=100, max_features='sqrt')
sklearn_model.random_state = seed
model = dc.models.SklearnModel(sklearn_model)
model.fit(train_dataset)

CPU times: user 7 µs, sys: 0 ns, total: 7 µs
Wall time: 13.8 µs

In [21]:
# use Pearson correlation so metrics are > 0
metric_pearson = dc.metrics.Metric(dc.metrics.pearson_r2_score)
metric_mae = dc.metrics.Metric(dc.metrics.mae_score)

evaluator = Evaluator(model, train_dataset, [])
train_mae_score = model.evaluate(train_dataset, [metric_mae])
print("RF Train set mae %f" % (train_mae_score["mae_score"]))

evaluator = Evaluator(model, test_dataset, [])
test_mae_score = model.evaluate(test_dataset, [metric_mae])
print("RF Test set R^2 %f" % (test_mae_score["mae_score"]))

RF Train set mae 0.261741
RF Test set R^2 0.634048

In [26]:
# Compare predicted and true values
list(zip(model.predict(train_dataset), train_dataset.y))[:5]

[(7.352290000000016, 7.238),
 (8.517960000000013, 8.277),
 (8.75052, 9.087),
 (9.084769999999999, 9.492),
 (9.811240000000009, 10.022)]

In [22]:
prediksi_seluruh = model.predict(dataset_model)

In [23]:
dataset_RF = data

In [24]:
dataset_RF.insert(5, 'prediksi', prediksi_seluruh)

In [25]:
dataset_RF

,nama obat,cid,smiles,pdb_id,score,prediksi,fungsi_obat
0,Anastrozole,2187,CC(C)(C#N)C1=CC(=CC(=C1)CN2C=NC=N2)C(C)(C)C#N,1s9p,7.856,8.04117,breast_cancer
1,Letrozole,3902,C1=CC(=CC=C1C#N)C(C2=CC=C(C=C2)C#N)N3C=NC=N3,1s9p,8.685,8.86546,breast_cancer
2,Exemestane,60198,CC12CCC3C(C1CCC2=O)CC(=C)C4=CC(=O)C=CC34C,1s9p,13.665,12.61915,breast_cancer
3,Fulvestrant,104741,CC12CCC3C(C1CCC2O)C(CC4=C3C=CC(=C4)O)CCCCCCCCC...,1s9p,9.728,9.17634,breast_cancer
4,Lapatinib,208908,CS(=O)(=O)CCNCC1=CC=C(O1)C2=CC3=C(C=C2)N=CN=C3...,1s9p,11.310,11.04747,breast_cancer
...,...,...,...,...,...,...,...
595,Vicriviroc,3009355,CC1CN(CCN1C(COC)C2=CC=C(C=C2)C(F)(F)F)C3(CCN(C...,7egq,7.641,7.42053,HIV
596,Vidarabine,21704,C1=NC(=C2C(=N1)N(C=N2)C3C(C(C(O3)CO)O)O)N,7egq,9.908,10.05509,HIV
597,Zalcitabine,24066,C1CC(OC1CO)N2C=CC(=NC2=O)N,7egq,8.195,8.99880,HIV
598,Zanamivir,60855,CC(=O)NC1C(C=C(OC1C(C(CO)O)O)C(=O)O)N=C(N)N,7egq,10.022,9.58455,HIV
599,Zidovudine,35370,CC1=CN(C(=O)NC1=O)C2CC(C(O2)CO)N=[N+]=[N-],7egq,8.459,8.19793,HIV

In [26]:
dataset_RF.to_csv('data/database/prediksi_dataset_semua.csv',index=False)

In [41]:
selisih = []
for i in range(len(dataset_RF)):
    delta = abs(dataset_RF['score'][i] - dataset_RF['prediksi'][i])
    selisih.append(delta)

In [46]:
print('MAE = ' + str(sum(selisih)/len(dataset_RF)))

MAE = 0.33620231666666667

In [22]:
#buat data test baru

In [23]:
#deklarasi all feature

In [24]:
dataset_feature = all_feature
dataset_feature.insert(0, 'nama obat', data['nama obat'])
dataset_feature['fungsi_obat'] = data['fungsi_obat']
dataset_feature['score'] = data['score']

In [25]:
#pembuatan data test HIV dan cancer

In [26]:
dataset_feature_HIV = dataset_feature[dataset_feature['fungsi_obat'].str.contains('HIV')]
dataset_feature_HIV = dataset_feature_HIV.reset_index()

In [27]:
dataset_feature_cancer = dataset_feature[~dataset_feature['fungsi_obat'].str.contains('HIV')]

In [28]:
data_test_HIV = dc.data.NumpyDataset(X=dataset_feature_HIV.iloc[:,2:-2], y=dataset_feature_HIV['score'])

In [29]:
data_test_cancer = dc.data.NumpyDataset(X=dataset_feature_cancer.iloc[:,1:-2], y=dataset_feature_cancer['score'])

In [30]:
metric_mae = dc.metrics.Metric(dc.metrics.mae_score)

evaluator = Evaluator(model, data_test_HIV, [])
HIV_mae_score = model.evaluate(data_test_HIV, [metric_mae])
print("RF HIV set mae %f" % (HIV_mae_score["mae_score"]))

evaluator = Evaluator(model, data_test_cancer, [])
cancer_mae_score = model.evaluate(data_test_cancer, [metric_mae])
print("RF cancer set mae %f" % (cancer_mae_score["mae_score"]))

RF HIV set mae 0.307274
RF cancer set mae 0.414415